<div class="container">
  <div>
  <h1>Lista de todos los productos</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each listProducts}}
    <div class="col">
      <div class="card h-100" id={{this.id}}>
        <img src={{this.thumbnail}} class="card-img-top" alt={{this.title}}>
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-title">{{this._id}}</p>
          <p class="card-text">Descripción: {{this.description}}</p>
          <p class="card-text">Código: {{this.code}}</p>
          <div class="row">
            <p class="card-text col">Stock: {{this.stock}}</p>
            <p class="card-text col">Precio: ${{this.price}}</p>
          </div>
          <a href=/realtimeproducts/{{this._id}} class="btn btn-outline-primary">Ver más</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>








